.highlight  { background: $oc-black; }
.highlight .c { color: $oc-gray-5; font-style: italic } /* Comment */
.highlight .err { color: $oc-red-9; background-color: $oc-red-0 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: $oc-gray-5; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: $oc-gray-2; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: $oc-gray-5; font-style: italic } /* Comment.Single */
.highlight .cs { color: $oc-gray-2; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: $oc-black; background-color: $oc-red-1 } /* Generic.Deleted */
.highlight .gd .x { color: $oc-black; background-color: $oc-red-2 } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: $oc-red-3 } /* Generic.Error */
.highlight .gh { color: $oc-gray-2 } /* Generic.Heading */
.highlight .gi { color: $oc-black; background-color: $oc-teal-0 } /* Generic.Inserted */
.highlight .gi .x { color: $oc-black; background-color: $oc-teal-2 } /* Generic.Inserted.Specific */
.highlight .go { color: $oc-gray-1 } /* Generic.Output */
.highlight .gp { color: $oc-gray-7 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $oc-gray-1 } /* Generic.Subheading */
.highlight .gt { color: $oc-red-3 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: $oc-blue-2; font-weight: bold } /* Keyword.Type */
.highlight .m { color: $oc-cyan-7 } /* Literal.Number */
.highlight .s { color: $oc-red-5 } /* Literal.String */
.highlight .na { color: $oc-cyan-8 } /* Name.Attribute */
.highlight .nb { color: $oc-blue-7 } /* Name.Builtin */
.highlight .nc { color: $oc-blue-2; font-weight: bold } /* Name.Class */
.highlight .no { color: $oc-cyan-8 } /* Name.Constant */
.highlight .ni { color: $oc-grape-9 } /* Name.Entity */
.highlight .ne { color: $oc-red-6; font-weight: bold } /* Name.Exception */
.highlight .nf { color: $oc-red-6; font-weight: bold } /* Name.Function */
.highlight .nn { color: $oc-gray-7 } /* Name.Namespace */
.highlight .nt { color: $oc-blue-9 } /* Name.Tag */
.highlight .nv { color: $oc-cyan-8 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: $oc-gray-3 } /* Text.Whitespace */
.highlight .mf { color: $oc-cyan-7 } /* Literal.Number.Float */
.highlight .mh { color: $oc-cyan-7 } /* Literal.Number.Hex */
.highlight .mi { color: $oc-cyan-7 } /* Literal.Number.Integer */
.highlight .mo { color: $oc-cyan-7 } /* Literal.Number.Oct */
.highlight .sb { color: $oc-red-5 } /* Literal.String.Backtick */
.highlight .sc { color: $oc-red-5 } /* Literal.String.Char */
.highlight .sd { color: $oc-red-5 } /* Literal.String.Doc */
.highlight .s2 { color: $oc-red-5 } /* Literal.String.Double */
.highlight .se { color: $oc-red-5 } /* Literal.String.Escape */
.highlight .sh { color: $oc-red-5 } /* Literal.String.Heredoc */
.highlight .si { color: $oc-red-5 } /* Literal.String.Interpol */
.highlight .sx { color: $oc-red-5 } /* Literal.String.Other */
.highlight .sr { color: $oc-green-8 } /* Literal.String.Regex */
.highlight .s1 { color: $oc-red-5 } /* Literal.String.Single */
.highlight .ss { color: $oc-grape-8 } /* Literal.String.Symbol */
.highlight .bp { color: $oc-gray-2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: $oc-cyan-8 } /* Name.Variable.Class */
.highlight .vg { color: $oc-cyan-8 } /* Name.Variable.Global */
.highlight .vi { color: $oc-cyan-8 } /* Name.Variable.Instance */
.highlight .il { color: $oc-cyan-7 } /* Literal.Number.Integer.Long */